[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
grpcio = "*"
protobuf = "*"
googleapis-common-protos = "*"
flask-restx = "*"
pytz = "*"
python-decouple = "*"
bcrypt = "*"
grpcio-tools = "*"
pyjwt = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
